PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/adrita_food_paradise?retryWrites=true&w=majority
JWT_SECRET=replace_this_with_a_long_random_secret_string
CLIENT_URL=http://localhost:5173
